@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body{
    background-image: url("./img/Фон 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
}

.header {
    background: rgba(0, 0, 0, 0.4);
    height: 58px;
    padding: 0 79px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header-title {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    display: inline-block;
    transition: color 0.3s ease;
}

.header-title:hover{
    color: #3CB878;
}

.header-icons {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.line{
    border: 1px solid rgba(255, 255, 255, 0.9);
    height: 19px;
    opacity: 0.5;
}

.header-buttons {
    display: inline-block;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.login-signup-link{
    color: #FFFFFF;
}

.login-signup-link:hover{
    color: #3CB878;
}

.icon{
    fill:#FFFFFF;
    transition: all 0.2s ease;
}

.icon:hover {
    fill:#3CB878;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 58px);
}

.main-container {
    width: 444px;
    height: 584px;
    background-color: #FFFFFF;
    padding: 30px 60px 38px;
    box-sizing: border-box;
    position: relative;
    transition: background-color 0.5s ease;
}

.main-title{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 15px;
}

.font-1{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.font-1:after{
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 29px;
    background: #3CB878;
}

.font-2{
    color: #3CB878;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    transition: all 0.2s ease;
}

.font-2:hover{
    text-decoration: underline;
    color: #01813F;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}

.m-b-20{
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 160px;
    height: 48px;
    color: #FFFFFF;

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    position: relative;
}

.m-b-20 svg{
    margin-right: 38px;
}

.btn-face svg{
    padding-left: 17px;
}

.btn-google svg{
    padding-left: 12px;
}

.btn-face{
    background: #305DB8;
    transition: background-color 0.5s ease;
}

.btn-face:hover{
    background: #022263;
}

.btn-google{
    background: #DF4A32;
    transition: background-color 0.5s ease;
}

.btn-google:hover{
    background: #AB1F09;
}

.btn-face:after, .btn-google:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}

.title {
    margin-top: 31px;
    margin-bottom: 12px;
    text-align: center;
    color: #848484;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.title:before, .title:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 1px;
    background: #F2F2F2;
    position: relative;
}

.title:before {
    margin-left: -100%;
    left: -2px;
}

.title:after {
    margin-right: -100%;
    right: -2px;
}

form input[type="text"]{
    width: 324px;
    height: 44px;
    border: 1px solid #F2F2F2;
    padding-left: 20px;
}

input::placeholder {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}

input[type="text"]:placeholder-shown{
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    background: #FFFFFF;
}

input[type="text"]:not(:placeholder-shown) {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #434343;

    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox.style {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    user-select: none;
}

.checkbox.style input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox.style input:checked ~ .checkbox-checkmark:after {
    opacity: 1;
}

.checkbox.style .checkbox-checkmark {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    transition: background-color 0.25s ease;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}

.checkbox.style .checkbox-checkmark:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 0;
    width: 7px;
    height: 14px;
    border:solid #3CB878;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.checkbox.style .checkbox-body {
    display: flex;
    align-items: center;
    height: 20px;
}

.checkbox-text{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    display: inline-block;
    color: #434343;
}

.checkbox-text a{
    color:#3CB878;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease;
}

.checkbox-text a:hover{
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.items{
    margin-bottom: 15px;
}

.check-margin{
    margin-bottom: 12px;
}

.main-button{
    margin-top: 20px;
    width: 324px;
    height: 46px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    transition: background-color 0.5s ease;
}

.main-button:hover{
    background: #01813F;
}

.theme {
    cursor: pointer;
    border-radius: 4px;
    border: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 100px;
    height: 50px;

    background-color: rgba(60, 184, 120, 0.8);
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    transition: background-color 0.5s ease;
}

.theme:hover{
    background: #01813F;
}