@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body{
    background-image: url("./img/Фон 2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background: rgba(0, 0, 0, 0.5);
}

.header-title {
    color: #FFFFFF;
    transition: color 0.3s ease;
}

.header-title:hover{
    color: #0000CD;
}

.line{
    border: 1px solid rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}

.header-buttons {
    color: #FFFFFF;
}

.login-signup-link{
    color: #FFFFFF;
}

.login-signup-link:hover{
    color: #0000CD;
}

.icon{
    fill:#FFFFFF;
    transition: all 0.2s ease;
}

.icon:hover {
    fill:#0000CD;
}

.main-container {
    background-color: #00BFFF;
}

.font-1{
    color: #2F4F4F;
}

.font-1:after{
    background: #4169E1;
}

.font-2{
    color: #0000CD;
}

.font-2:hover{
    text-decoration: underline;
    color: #00008B;
}

.btn-face{
    background: #0000CD;
    transition: background-color 0.5s ease;
}

.btn-face:hover{
    background: #022263;
}

.btn-google{
    background: #FF0000;
    transition: background-color 0.5s ease;
}

.btn-google:hover{
    background: #AB1F09;
}

.btn-face:after, .btn-google:after{
    background: #0A162F;
}

.title {
    color: #0000CD;
}

.title:before, .title:after {
    background: #0000CD;
}

form input[type="text"]{
    border: 1px solid #00BFFF;
}

input::placeholder {
    color: #5F9EA0;
}

input[type="text"]:placeholder-shown{
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #6495ED;
    border-radius: 4px;
    background: #87CEFA;
}

input[type="text"]:not(:placeholder-shown) {
    color: #434343;
    background: #87CEFA;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

input:focus::placeholder {
    color: transparent;
}

input:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox.style .checkbox-checkmark {
    transition: background-color 0.25s ease;
    border: 1px solid #F2F2F2;
}

.checkbox.style .checkbox-checkmark:after {
    border:solid #0000CD;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.25s ease;
}

.checkbox-text{
    color: #434343;
}

.checkbox-text a{
    color:#0000CD;
}

.checkbox-text a:hover{
    color: #191970;
    border-bottom: 1px solid #191970;
}

.main-button{
    background-color: #0000CD;
    transition: background-color 0.5s ease;
}

.main-button:hover{
    background: #191970;
}

.theme{
    transition: background-color 0.5s ease;
    background-color: #0000CD;
}

.theme:hover{
    background: #191970;
}